{% extends 'base.html'%}

{% block content%}


<p>
    Thanks so much for visiting. We’re so happy to have you here! 
    If you’d like to get in touch you can send us a message via email at poemgallery@gmail.com 
    We would love to hear from you!

    We love working and partnering with companies to produce quality content. 
    The following are many different ways that we can work together. 
    If you think we would be a great fit, please do not hesitate to contact us at poemgallery@gmail.com
    to discuss opportunities in detail. I look forward to working with you!

    *****Disclaimer: SERIOUS AND PROFESSIONAL INQUIRIES ONLY!*******

</p>



{% end block content%}